.card-container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: .5rem;
    box-shadow: 0px 2px 8px 1px #ccc;
    background-color: var(--white1);
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.card-id-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-id {
    font-size: .95rem;
    font-weight: 500;
    color: var(--textgrey);
}

.card-profile {
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #b06e0c;
    color: var(--white1);
    border-radius: 50%;
    font-size: .8rem;
}

.card-profile-initial {
    text-transform: uppercase;
}

.card-profile-initial-available {
    height: 12px;
    width: 12px;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    background-color: var(--grey1);
    border: 1.5px solid var(--white1);
    left: 70%;
    top: 70%;
}

.card-profile-initial-available-true {
    background-color: rgb(72, 223, 12);
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black1);
}

.card-tag {
    display: flex;
    align-items: center;
    margin-top: .8rem;
}

.card-tag-icon {
    width: fit-content;
    height: 25px;
    display: flex;
    align-items: center;
    margin-right: .5rem;
    border: 1px solid var(--grey1);
    border-radius: .3rem;
}

.card-tag-icon > svg {
    height: 20px;
    color: var(--textgrey);
}

.card-tag-box {
    padding: .3rem;
    border: 1px solid var(--grey1);
    border-radius: .3rem;
    width: fit-content;
}

.card-tag-title {
    font-size: .85rem;
    font-weight: 500;
    color: var(--textgrey);
}

.card-tag-title::before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--textgrey);
    margin-right: .2rem;
}
